<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>Negotiation Bot</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
     integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
     integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/07d234760a.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">
    <!-- <link rel="manifest" crossorigin="use-credentials" href="/manifest.json"> -->
    <script>
        function showUserMsg(){
            console.log("works");
            var output = document.getElementById("userInput");
            output = `<div class="user-speech-container">
                        <div class="box3 sb13">
                            <p id="userText">${output}</p>
                        </div>
                    </div>`;
            subContainer.innerHTML += output;
            container.appendChild(subContainer);
            subContainer.scrollTop =  subContainer.scrollHeight;
        }
    </script>
</head>
<body>

    <div class="container" id="chat-container">
        <form action="{% url 'selectProduct' %}" method="post">
            {% csrf_token %}
            <select name="product">
              <option selected value="1">Car</option>
              <option value="2">Couch</option>
              <option value="3">Projector</option>
              <option value="4">iphone</option>
              <option value="5">Cabinet</option>
            </select>
            <input type="submit" value="Select">
          </form>
        <div class="sub-container">

            {% for msg in messageList %}
                {{ msg|safe }}
            {% endfor %}

        </div>
    </div>
    <div class="input-group mb-3 container" id="inputContainer">
        <div class="input-group mb-3">

            <form action="{% url 'takeBotOutput' %}" onsubmit="showUserMsg()" class="inputForm">
                {% csrf_token %}
                <input type="text" id="userInput" autocomplete="off" class="form-control" placeholder="Enter Text Here..." aria-label="Recipient's username" aria-describedby="button-addon2" name="userInput">
            <button class="btn btn-outline-secondary" type="submit" id="button-addon2" style="color: white;">Send</button>
                </form>
        </div>
        <form action="{% url 'resetChat' %}" class="inputForm">
            {% csrf_token %}
            <button class="btn btn-outline-secondary" type="submit" id="resetButton" style="color: white;">Reset</button>
        </form>
    </div>
    <p style="color: aliceblue;">{{ data }}</p>




    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/superagent"></script>
</body>
</html>